{% extends 'account.html' %}

{% block manage %}
<div class="col-sm-">
    <h2 class="text-center">Dashboard</h2>
    <hr>
<b>ACCOUNT SETUP</b><br>
<hr>
<i><b>Design</b></i><br>

+ Go to <i><a href="{{base_url}}/settings" id="plink">Account Settings</a> > Change Profile Photo</i> and upload a profile photo for your shop. <sub>Recommended size is 250x250(px)</sub><br>
+ Go to <i><a href="{{base_url}}/settings" id="plink">Account Settings</a> > Change Cover Photo</i> and upload a cover for your shop. <sub>Recommended size is 1000x210(px)</sub><br>
<br>
<br>
<i><b>Adding Beat to your Shop</b></i><br>
+ Go to <i><a href="{{base_url}}/myshop" id="plink">My Shop</a> > New Beat</i> and fill up the form with the details of the beat.<br>
    <i>
    &nbsp;&nbsp;&nbsp;&nbsp;# Name of beat<br>
    &nbsp;&nbsp;&nbsp;&nbsp;# Genre of beat<br>
    &nbsp;&nbsp;&nbsp;&nbsp;# Price of beat in USD($)<br>
    &nbsp;&nbsp;&nbsp;&nbsp;# Upload the beat file(.mp3)<br><br>
    </i>
+ Click <i>submit</i> for the beat to be listed in your shop. That's it!<br><br><br>

<i><b>Payments for Beats Sale</b></i><br>
<br><br><br><br><br><br><br>

</div>

{% endblock %}