{% extends 'base.html' %}

{% block title %}Sell Beats Online{% endblock %}
{% block head %}<h1 class="text-center">Sell Beats Online</h1>{% endblock %}

{% block content %}


<p class="text-center">
Sell your beats for music projects. We have a variety of beat categories from Hiphop Beats, Afro Pop, RnB, Ningala, Reggae and many more genres.

</p>
<hr class="text-center" style="width:500px;">
<h1 class="text-center">Requirements</h1>
<p class="text-center">
Awesome beats that you created and a paypal account. That's all!!<br>
<h4 class="danger text-center">No Startup Fees</h4>
<hr class="text-center" style="width:500px;">    
</p>
<h1 class="text-center">How do I get paid?</h1>
<p class="text-center">
For every sale you keep 70% of the sale; you get paid through your paypal account by withdrawing from your buythebeat account.
<hr class="text-center" style="width:500px;">
</p>
<p class="text-center">
        <a href="{{base}}/login" class="btn btn-warning">Login</a>  <a href="{{base}}/signup" class="btn btn-success">Signup</a>
</p>
{% endblock %}
